
header{
    
    width: auto;
    height: 60px;
    background-color: white;
   
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    
}


.logo{
    background-image: url(logo.png);
   width: auto;
   height: 50px;
   background-repeat: no-repeat;
    flex: 1;
    margin-top: 10px;
    margin-left: 10%;

}
ul li:hover
{
    opacity: .5;
    list-style: none;
    
}
ul{
    list-style-type: none;

}
ul li
{
    float: left;
    padding-left: 30px;
    color: blue;
}
.menu{
    flex: 2;

}

.all{
    
    
}
.birinci{
    display: flex;
    background-color: rgba(216, 209, 200, 0.514);
    width: 1335px;
    height: 105%;
    
}


.sol{
    flex: 1;
    
    
}
.yazi{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 200px ;
    padding-top: 100px;
    word-spacing: 1px;
   

}

.sag{
    
    padding: 10px;
    
    flex: 1;
    justify-content: flex-end;
    
}

.ikinci{
    display: flex;


}
.sol2{
    flex: 1


}
.sag2{
    flex: 1


}
.yazi2{
    
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 200px ;
    padding-top: 100px;
    word-spacing: 1px;

}